{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Blog</title>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <div class="links">
                <a class="link border-right-none" href="{% url 'home' %}">Home</a>
                <a class="link" href="{% url 'about' %}">About</a>
            </div>
            
            {% if user.is_authenticated %}
                <div  class="user-container">
                    <div class="user">{{user.username}}</div>
                    <a href="{% url 'profile' %}" class="link border-right-none"> Profile </a>
                    <a href="{% url 'logout' %}" class="exit-button">Выйти</a>
                </div>
            {% else %}
                <div class="authorization">
                    <a href="{% url 'login' %}" class="link login"> Login </a>
                    <a href="{% url 'register' %}" class="link signup"> Sign Up </a>
                </div>
            {% endif %}
        </nav>
    </header>
    <main class="content">
        
        <div class="articles">
            {% if messages%}
                {% for message in messages %}
                    <div class="message">
                        {{ message}}
                    </div>
                {% endfor %}
            {% endif%}

            {% block content %}{%endblock%}
        </div>
        <div class="sidebar">
            <p>Сайдбар</p>
            
            {% if user.is_authenticated %}
            
            <a href="{% url 'post-create' %}" class="sidebar__link"> Новый пост </a>
            <a href="#" class="sidebar__link"> Мои статьи </a>
            {% endif%}
            <a class="sidebar__link" href="#">Недавние статьи</a>
            <a class="sidebar__link" href="#">Все статьи</a>
        </div>

        
    </main>
</body>
</html>
